<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<h3>Create Book</h3>
<form  th:action="@{/save/book}" th:object="${book}" method="post">
    <div class="mb-3  col-4">
        <label for="title" class="form-label">Title:</label>
        <input type="text" th:field="*{title}" id="title" class="form-control "/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
    </div>

    <div class="mb-3 col-4">
        <label for="publisher" class="form-label">Publisher:</label>
        <input type="text" th:field="*{publisher}" id="publisher" class="form-control "/>
        <span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" class="text-danger"></span>
    </div>

    <div class="mb-3 col-4">
        <label for="year" class="form-label">Year:</label>
        <input type="date" th:field="*{year}" id="year" class="form-control "/>
        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger"></span>
    </div>
    <div class="mb-3 col-4">
        <label class="form-label">Author Name:</label>
        <select th:field="*{author}" class="form-control ">
<!--            <th:block th:each="auth : ${authorList}">-->
<!--                <option th:text="${auth.name}" th:value="${auth.id}" ></option>-->
<!--            </th:block>-->
            <option th:each="author : ${authorList}" th:value="${author.id}" th:text="${author.name}"></option>
        </select>
    </div>
   <div class="mb-3">
       <button type="submit" class="btn btn-info col-2"> Save Book</button>
   </div>
</form>
</body>
</html>