<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div><h3>Welcome to Book App</h3></div>
    <div>
        <a th:href="@{/create/author}" class="mx-3">Create Author</a>
        <a th:href="@{/list/author}" class="mx-3">List Author</a>
        <a th:href="@{/create/book}" class="mx-3">Create Book</a>
        <a th:href="@{/list/book}" class="mx-3">List Book</a>

    </div>



</div>




</body>
</html>