<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
        <script>
    $(document).ready(function() {
    $("#bookTable").DataTable({
    "columnDefs": [
    {
    "targets": '_all', // Apply to all columns
    "searchable": true,
    "orderable": true
    }
    ],
    'aoColumnDefs': [{
    'bSortable': false,
    'pageLength' : 1
    }]
    });
    })

        </script>
</head>
<body>
<a href="#" th:href="@{/create/book}" class="me-3">Add Book</a>
<a href="#" th:href="@{/create/author}" class="me-3">Add Author</a>
<a th:href="@{/list/author}" class="me-3">List Author</a><br>
    <table class="table table-striped" id="bookTable">
        <thead>
        <tr>
            <th>
<!--                <a th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">-->
                    Title
                </a>
            </th>
            <th>
<!--                <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">-->
                    Publisher
                </a>
                </th>
            <th>

                Year</th>
            <th>Author Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.getYear()}"></td>
            <td th:text="${book.author.name}"></td>
            <td> <a th:href="@{/update/book/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete/book/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
        </tr>
        </tbody>
    </table>

</body>
</html>