<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  <script>
     /*$(document).ready(function () {
          var dataTable = $('#authorTable').DataTable();

          // Perform a custom search across all columns
          $('#searchInput').on('keyup', function () {
              dataTable.search(this.value).draw();
          });
      });*/
    $(document).ready(function () {

      $('#authorTable').DataTable({
        "search": {
          "caseInsensitive": true, // Make the search case-insensitive
          "smart": false // Disable smart search
        }
      });
    });
  </script>
</head>
<body>
<a href="#" th:href="@{/create/author}" class="me-3">Add Author</a>
<a href="#" th:href="@{/create/book}" class="me-3">Add Book</a>
<a th:href="@{/list/book}" class="me-3">List Book</a>
<table class="table table-striped" id="authorTable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="author : ${authors}">
    <td th:text="${author.name}"></td>
    <td th:text="${author.address}"></td>
    <td th:text="${author.email}"></td>
    <td> <a th:href="@{/update/author/{id}(id=${author.id})}" class="btn btn-primary">Edit</a>
      <a th:href="@{/delete/author/{id}(id=${author.id})}" class="btn btn-danger">Delete</a>
  </tr>
  </tbody>
</table>

</body>
</html>