<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
</head>
<body>
<h3>Update Book</h3>
<form action="#" th:action="@{/update/{id}(id=${book.id})}" th:object="${book}" method="post">

    <div class="mb-3  col-4">
        <label for="title" class="form-label">Title:</label>
        <input type="text" th:field="*{title}" id="title" class="form-control "/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
    </div>

    <div class="mb-3 col-4">
        <label for="publisher" class="form-label">Publisher:</label>
        <input type="text" th:field="*{publisher}" id="publisher" class="form-control "/>
        <span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" class="text-danger"></span>
    </div>

    <div class="mb-3 col-4">
        <label for="year" class="form-label">Year:</label>
        <input type="date" th:field="*{year}" id="year" class="form-control "/>
        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger"></span>
    </div>
    <div class="mb-3 col-4">
        <select th:field="*{author}" class="form-control mb-4 col-4 required">
            <th:block th:each="auth : ${authorList}">
                <option th:text="${auth.name}" th:value="${auth.id}" ></option>
            </th:block>

        </select>

    </div>

    <button type="submit" class="btn btn-info col-2"> Update Book</button>
</form>
</body>
</html>